@mixin breakpoint($point) {
	@if $point == large {
		@media (min-width: 100vw) { @content; }
	}
	@else if $point == medium {
		@media (min-width: 800px) { @content; }
	}
	@else if $point == small {
		@media (min-width: 480px) { @content; }
	}
}

@import 'partials/vendor/bourbon/bourbon';
@import 'partials/vendor/font-awesome/scss/font-awesome';
@import 'partials/a';
@import 'partials/color';
@import 'partials/nav';
@import 'partials/fonts';


body {
	font-size: 20px;
	font-family: 'EB Garamond', serif;
	color: black;
	margin: 0;
}


nav h1 {
	margin: 0;
	padding: 0;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid black;
	float: left;
	font-size: 45px;
	font-family: 'Cardo', serif;
}

.intro {
	margin-top: 20vh;
	display: inline-block;
	background-color: $teal;
	background-image: url("../images/pattern1.jpg");
	border-radius: 5px;
	margin-bottom: 20px;

		
		#portrait {
			img {
			display: block;
			float: right;
			width: 41%;
			padding-left: 110px;
			padding-right: 110px;
			padding-top: 60px;
			padding-bottom: 20px;

			@include breakpoint(medium){
				width: 25%;	
			}

		}
	}	
		p {
				display: block;
				padding-left: 20px;
				margin: 16px;
			
			&#first {
				padding-top: 10px;
			}

			@include breakpoint(medium){
			font-size: 24px;
			padding-left: 100px;
			padding-top: 30px;
			}

		}	

			@include breakpoint(small) {
				height: 650px;
				width: 800px;
			}


			@include breakpoint(medium){
			height: 69vh;	
			width: 100vw;
			font-size: 24px;

			}

}

ul.nav-social {
	background-color: transparent;
	overflow: auto;
	margin: 0;
	padding: 0;
	margin-left: 105px;

	li {
		list-style: none;
		list-style: none;
		padding-right: 15px;
		float: left;


		a {
			color: white;
			}

			&:hover {
				border-bottom: 1px solid $yellow;
		}

		h1 {
			margin: 0;
		}
	}		
}

.fa-arrow-down  {
	z-index: 3;
	font-size: 80px;
	color: $yellow;
	margin-left: 580px;
  margin-top: 60px;
  background-color: white;
  border-radius: 50%;
  border: 10px solid white;
}

//portfolio

div.page-projects {
	width: 1160px;
	overflow: auto;
	
	h1 {
	font-size: 40px;	
	color: rgba(3, 163, 120, 0.3);
	padding-left: 50px;
	}	

		ul {
			list-style: none;
		}
			li {
				padding-right: 20px;
			}

			img {
			border: 1px solid $yellow;
			display: block;
			width: 20%;
			height: 20%;
			float: left;
			padding-top: 35px;
			padding-right: 20px;
			padding-left: 0;

				&:hover {
					transform: scale(1.02, 1.02);
				}

				@include breakpoint(small){
					width: 30%;
					height: 30%;
					padding-left: 0;
				}

				@include breakpoint(medium){
					width: 40%;
					height: 40%;	
					padding-left: 30px;	
				}
				
				
			}

}



//resume

div.pre-res {

	h1 {
	font-size: 40px;	
	color: rgba(3, 163, 120, 0.3);
	padding-left: 50px;
	}	
}

div.resume {
	border: 1px solid #03a378;
	margin: 8px;

	> #resume-inside {
		margin: 30px;

		> span {

			> h1 {
				font-family: 'Cardo', serif;
				font-size: 50px;
				color: #d98900;
				display: block;
				float: left;
				border-right: 2px solid #d98900;
				padding-right: 5px;
				margin: 10px;
				line-height: 3em;
				font-size: 30px;

					@include breakpoint(small) {
						font-size: 40px;	
					}

					@include breakpoint(medium) {
						font-size: 50px;
					}
			}
			
			> h2 {
				display: block;
				font-size: 20px;
				line-height: 10px;
				padding-left: 0px;
				font-size: 8px;
					
					@include breakpoint(small) {
						font-size: 14px;
					}
					
					@include breakpoint(medium) {
						font-size: 24px;
						padding-left: 5px;

					}
			
			&#email {
				padding-top: 40px;

			}		
		}
	}	
}

	@include breakpoint(small) {
		margin: 0px;

	}

	@include breakpoint(medium){
		padding-left: 50px;
		margin: 70px;
	}

}



div.education {
	clear: both;

		p {
			padding-left: 20px;
		}

}

.footer {
	margin-bottom: -50px;
	padding-bottom: -50px;
	
		h1 {
			padding-left: 50px;
			color: rgba(3, 163, 120, 0.3);
		}

	.page-contact {
		background-color: #d98900;
		padding-left: 100px;


			.nav-social {
				margin-left: 30px;
				width: 100vw;	
				border-bottom: white;
				}
		
	}
}
