@mixin breakpoint($point){
  @if $point == desktop-plus{
    @media (max-width: 1950px){ @content; }
  }
  @else if $point == desktop {
    @media (max-width: 1700px){ @content; }
  }
  @else if $point == laptop {
    @media (max-width: 1400px){ @content; }
  }
  @else if $point == tablet {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 800px) { @content; }
  }
}

$screen: 770px;
$desktop: 1500px;

@import 'partials/vendor/bourbon/bourbon';
@import 'partials/vendor/font-awesome/scss/font-awesome';
@import 'partials/a';
@import 'partials/color';
@import 'partials/nav';
@import 'partials/fonts';


body {
  font-family: $karla;
  color: black;
  margin: 0;
}


nav h1 {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  padding-right: 5px;
  padding-left: 15px;
  border-right: 1px solid $yellow;
  float: left;
  font-size: 60px;
  font-family: $josefin;
  font-weight: 400;
}

div.page-about{
  
  .blue-block{
    width: 10vw;
    height: 200vh;
    background-color: $teal;
    border-right: 1em solid $red;
    padding: 0;

    @include breakpoint(desktop-plus){
      height: 92vh;
    }
    
    @include breakpoint(desktop){
      height: 120vh;
    }

    @include breakpoint(laptop){
      height: 161vh;
    }

    @include breakpoint(tablet){
      height: 161vh;
    }

    @include breakpoint(phone){
      width: 10vw;
      height: 200vh;
    }

    .intro {
      display: inline-block;
      border-radius: 5px;
      margin-bottom: 20px;
      padding-top: 300px;
      padding-left: 5vw;
      float: left;
      width: 800px;
        
      #headshot{
        float: right;
        margin-top: -160px;    
        margin-right: 8vw;
        margin-bottom: 20px;

        @include breakpoint(desktop-plus){
          float: right;
          margin-top: -75px;
          margin-right: -40vw;
        }

        @include breakpoint(desktop){
          float: right;
          margin-top: 15px;
          margin-right: -40vw;
         }

        @include breakpoint(laptop){
          margin-right: -25vw;
        }
        
        @include breakpoint(tablet){
          float: none;
          margin-top: -160px;    
          margin-right: 8vw;
          margin-bottom: 20px;
        }

        @include breakpoint(phone){
          float: none;
          margin-top: -160px;    
          margin-right: 8vw;
          margin-bottom: 20px;
        }

      } 

        p {
          clear: both;
          display: block;
          padding-left: 18vw;
          padding-top: 10px;
          margin: 16px;
          padding-right: 100px;
          width: 900px;
          font-size: 60px;

          @include breakpoint(desktop-plus){
            clear: none;
            padding-left: 12vw;
            font-size: 30px;
            width: 50vw;
          }
          
          @include breakpoint(desktop){
            clear: none;
            padding-left: 12vw;
            font-size: 30px;
            width: 50vw;
           }

          @include breakpoint(laptop){
            font-size: 30px;
            padding-left: 12vw;
           }

          @include breakpoint(tablet){
            float: none;
            margin-top: -160px;    
            margin-right: 8vw;
            margin-bottom: 20px;
          }

          @include breakpoint(phone){
            clear: both;
            display: block;
            padding-left: 18vw;
            padding-top: 10px;
            margin: 16px;
            padding-right: 100px;
            width: 900px;
            font-size: 60px;
          }

          &#first {
            padding-top: 10px;

            @include breakpoint(desktop-plus){
              margin-top: -10vh;
            }

            @include breakpoint(desktop){
              margin-top: -100px;
              padding-top: 0px;
            }

          }

          

        } 
    }   
  }     
}

ul.nav-social {
  background-color: transparent;
  overflow: auto;
  margin: 0;
  padding: 0;
  margin-left: 190px;
  font-size: 50px;

   @include breakpoint(desktop){
    font-size: 30px;
    margin-left: 210px;
   }

  @include breakpoint(laptop){
    font-size: 30px;
    margin-left: 13vw;
   }

  li {
    list-style: none;
    list-style: none;
    padding-right: 15px;
    float: left;

    a {
      color: $yellow;
      }

      &:hover {
        border-bottom: 1px solid $yellow;
    }

    h1 {
      margin: 0;
    }
  }   
}

.fa-arrow-down  {
  display: none;
  z-index: 3;
  font-size: 80px;
  color: $yellow;
  margin-left: 520px;
  margin-top: -10px;
  background-color: white;
  border-radius: 50%;
  border: 10px solid white;
        

}

//portfolio

div.page-projects {
  width: 160vw;
  overflow: auto;
  padding-right: 50px;
  background-color: $teal;
  border-top: 1em solid $yellow;
  
  h1 {
  font-size: 50px;  
  color: rgba(3, 163, 120, 0.3);
  padding-left: 50px;
  } 

    ul.image-list {
      list-style: none;


      li {
        display: inline-block;
        position: relative;
        float: left;
        margin-left: 30px;
        padding-left: 10vw;
        padding-top: 20vh;

        @include breakpoint(desktop){
          padding-left: 5vw;
         }

        @include breakpoint(laptop){
          padding-left: 5vw;
         }
      }

      li.alternates{
        float: none;
        
         @include breakpoint(desktop){
          float: right;
          margin-right: 65vw;
         }

        @include breakpoint(laptop){
          float: right;
          margin-right: 65vw;
         }

      }

      li.diff{


        @include breakpoint(desktop){
          margin-left: -45vw;
         }

        @include breakpoint(laptop){
          margin-left: -45vw;
         }
      }

      a{
        text-decoration: none;
        color: $red;

        &:hover{
          color: $yellow;
        }
      }
    }
      img {
        height: 35vh;
        width: 100vw;
        display: inline-block;

        @include breakpoint(desktop-plus){
          width: 50vw;
          height: 50vh;
        }
        
        @include breakpoint(desktop){
          width: 50vw;
          height: 50vh;
         }

        @include breakpoint(laptop){
           width: 50vw;
          height: 50vh;
         }
      }
      
      div.box-text{
        margin-left: 150px;
        padding-top: 15vh;
        padding-bottom: 50px;
        width: 100vw;
        height: 50vh;
        font-size: 50px;
        
        @include breakpoint(desktop-plus){
          float: left;
          padding-top: 25vh;
          width: 35vw;
          height: 50vh;
          font-size: 35px;
        }


         @include breakpoint(desktop){
          font-size: 20px;
          width: 35vw;
          float: left;
          margin-left: 20px;
          margin-top: 12vh;
         }

        @include breakpoint(laptop){
          font-size: 20px;
          width: 35vw;
          float: left;
          margin-left: 20px;
          margin-top: 12vh;  
         }
          h2{
            font-family: $josefin;
            font-weight: 400;
            border-bottom: 1px solid $yellow;
            padding-left: 10px;
          }
          a{
            color: black;

            &:hover{
              color: $red;
            }
          }
        }
      div.box-text-2{
        margin-left: 150px;
        padding-top: 15vh;
        padding-bottom: 150px;
        margin-right: 50px;
        width: 100vw;
        height: 50vh;
        font-size: 50px;

        @include breakpoint(desktop){
          font-size: 20px;
          float: left;
          margin-top: -61vh;
          margin-left: 7vw;
          width: 35vw;
         }

        @include breakpoint(laptop){
          font-size: 20px;
          float: left;
          margin-top: -61vh;
          margin-left: 7vw;
          width: 35vw;
         }
        
        h2{
            font-family: $josefin;
            font-weight: 400;
            border-bottom: 1px solid $red;
          }

          a{
            color: black;

            &:hover{
              color: $red;
            }
          }
      }
}



//resume

div.pre-res {

  h1 {
  font-size: 40px;  
  color: rgba(3, 163, 120, 0.3);
  padding-left: 50px;
  } 
}

div.resume {
  border-top: 8em solid $teal;
  border-left: 8em solid $teal;
  border-right: 19.5em solid $teal;
  border-bottom: 3em solid $teal;
  width: 120vw;

   @include breakpoint(desktop){
    width: 82vw;
    border-right: 20em solid $teal;
   }

  @include breakpoint(laptop){
    width: 80vw; 
    border-left: 8em solid $teal; 
   }
  > #resume-inside {
    margin: 100px;


    > span {

      > h1 {
        font-family: $josefin;
        font-weight: 400;
        font-size: 70px;
        color: #d98900;
        display: block;
        float: left;
        border-right: 2px solid #d98900;
        padding-right: 20px;
        margin: 10px 0px;
        line-height: 3em;
        @include breakpoint(desktop){
          font-size: 60px;
         }

        @include breakpoint(laptop){
          font-size: 60px; 
         }
      }

      > ul li {
        font-size: 40px;
      }
      > p{
        font-size: 40px;
      }
      > h2 {
        display: block;
        font-size: 35px;
        line-height: 10px;
        padding-left: 0px;
        font-family: $josefin;
        font-weight: 400;
          
        @include breakpoint(desktop){
          font-size: 30px;
         }

        @include breakpoint(laptop){
          font-size: 30px;
         }

        a {
          margin-left: 20px;

        }

      &#email {
        padding-top: 40px;

      }   
    }
  } 
}


}



div.education {
  clear: both;

    p {
      padding-left: 20px;
    }

}

/*footer begins*/

.footer {
  .page-contact {
    padding-top: 50px;

  p{
    width: 100vw;
    height: 20vh;
    font-size: 50px;
    margin-left: 50px;

    @include breakpoint(desktop){
      font-size: 25px;
      margin-left: 10vw;
      width: 80vw;
    }

    @include breakpoint(laptop){
      font-size: 25px; 
      margin-left: 10vw;
      width: 80vw;
    }

  }
        
      ul.nav-social {
        font-size: 40px;
        margin-left: 4vw;
        margin-top: -5vh;
        width: 100vw; 
        border-bottom: white;
        color: $yellow;
        
        @include breakpoint(desktop){
          font-size: 30px;
          margin-left: 10vw;
          width: 80vw;
        }

        @include breakpoint(laptop){
          font-size: 30px; 
          margin-left: 10vw;
          width: 80vw;
        }
        }
  }
}

