@mixin breakpoint($point) {
	@if $point == large {
		@media (min-width: 100vw) { @content; }
	}
	@else if $point == medium {
		@media (min-width: 50vw) { @content; }
	}
	@else if $point == small {
		@media (min-width: 25vw) { @content; }
	}
}

@import 'partials/vendor/bourbon/bourbon';
@import 'partials/vendor/font-awesome/scss/font-awesome';
@import 'partials/a';
@import 'partials/color';
@import 'partials/nav';
@import 'partials/fonts';


body {
	font-size: 18px;
	font-family: $alegreya;
	color: black;
	margin: 0;
}


nav h1 {
	margin: 0;
	padding: 0;
	margin-top: 25px;
	padding-right: 5px;
	padding-left: 15px;
	border-right: 1px solid $yellow;
	float: left;
	font-size: 45px;
	font-family: $josefin;
	font-weight: 400;
}

div.page-about{
	
	.blue-block{
		width: 5vw;
		height: 95vh;
		background-color: $teal;
		border-right: 1em solid $red;
		padding: 0;

		.intro {
			display: inline-block;
			border-radius: 5px;
			margin-bottom: 20px;
			padding-top: 20vh;
			padding-left: 5vw;
			float: left;


				p {
					display: block;
					padding-left: 20px;
					margin: 16px;
					padding-right: 10vw;
					
					&#first {
						padding-top: 10px;
					}

					@include breakpoint(medium){
					font-size: 24px;
					padding-left: 50px;
					padding-top: 30px;
					}

				}	

					@include breakpoint(small) {
						height: 650px;
						width: 800px;
					}

					@include breakpoint(medium){
					height: 69vh;	
					width: 100vw;
					font-size: 24px;

					}	
			#yellow-block{
				background-color: $yellow;
				width: 100vw;
				height: .5em;
				margin-top: -10vh;
				margin-left: -5vw;
			}		
		}		
	}			
}

ul.nav-social {
	background-color: transparent;
	overflow: auto;
	margin: 0;
	padding: 0;
	margin-left: 65px;

	li {
		list-style: none;
		list-style: none;
		padding-right: 15px;
		float: left;

		a {
			color: $yellow;
			}

			&:hover {
				border-bottom: 1px solid $yellow;
		}

		h1 {
			margin: 0;
		}
	}		
}

.fa-arrow-down  {
	z-index: 3;
	font-size: 80px;
	color: $yellow;
	margin-left: 520px;
  margin-top: 60px;
  background-color: white;
  border-radius: 50%;
  border: 10px solid white;
}

//portfolio

div.page-projects {
	width: 100vw;
	overflow: auto;
	padding-left: 20px;
	padding-right: 40px;
	background-color: $teal;
	
	h1 {
	font-size: 40px;	
	color: rgba(3, 163, 120, 0.3);
	padding-left: 50px;
	}	

		ul.image-list {
			list-style: none;


  		li {
				display: inline-block;
			  position: relative;
			  float: left;

  		}

  		li.alternates{
  			float: right;
  			padding-right: 80px;
  		}
		}
			img {
				padding-top: 10vh;
				height: 50vh;
				width: 50vw;
			  display: inline-block;

			/*	@include breakpoint(small){
					width: 30%;
					height: 30%;
					padding-left: 0;
				}

				@include breakpoint(medium){
					width: 40%;
					height: 40%;	
					padding-left: 30px;	
				}
				*/
				
			}
			
			div.box-text{
				margin-left: 50vw;
				padding-top: 15vh;
				padding-left: 50px;
				width: 30vw;
			  height: 50vh;
			  font-size: 20px;
				  h2{
				  	font-family: $josefin;
				  	border-bottom: 1px solid $yellow;
				  }
				}
			div.box-text-2{
				font-size: 20px;
				margin-right: 50vw;
				padding-top: 15vh;
				padding-left: 30px;
				width: 30vw;
			  height: 50vh;
				
				h2{
				  	font-family: $josefin;
				  	border-bottom: 1px solid $red;
				  }
			}
}



//resume

div.pre-res {

	h1 {
	font-size: 40px;	
	color: rgba(3, 163, 120, 0.3);
	padding-left: 50px;
	}	
}

div.resume {
	border: 1px solid #03a378;
	margin: 8px;

	> #resume-inside {
		margin: 30px;

		> span {

			> h1 {
				font-family: $josefin;
				font-weight: 300;
				font-size: 50px;
				color: #d98900;
				display: block;
				float: left;
				border-right: 2px solid #d98900;
				padding-right: 20px;
				margin: 10px 0px;
				line-height: 3em;
				font-size: 30px;

					@include breakpoint(small) {
						font-size: 40px;	
					}

					@include breakpoint(medium) {
						font-size: 50px;
					}
			}
			
			> h2 {
				display: block;
				font-size: 20px;
				line-height: 10px;
				padding-left: 0px;
				font-size: 8px;
				padding-left: 20px;

					
				a {
					margin-left: 20px;

					@include breakpoint(small) {
						font-size: 14px;
					}
					
					@include breakpoint(medium) {
						font-size: 24px;
						

					}
				}

			&#email {
				padding-top: 40px;

			}		
		}
	}	
}

	@include breakpoint(small) {
		margin: 0px;

	}

	@include breakpoint(medium){
		padding-left: 50px;
		margin: 70px;
	}

}



div.education {
	clear: both;

		p {
			padding-left: 20px;
		}

}

.footer {
	margin-bottom: -50px;
	padding-bottom: -50px;
	
		h1 {
			padding-left: 50px;
			color: rgba(3, 163, 120, 0.3);
		}


	#portrait {
			img {
			display: block;
			float: right;
			width: 41%;
			padding-left: 110px;
			padding-right: 110px;
			padding-top: 60px;
			padding-bottom: 20px;

			@include breakpoint(medium){
				width: 25%;	
			}

		}
	}			

	.page-contact {
		background-color: #d98900;
		padding-left: 100px;


			.nav-social {
				margin-left: 30px;
				width: 100vw;	
				border-bottom: white;
				}
	}
}
