nav {
	margin: 0px;
	padding: 0px;
	overflow: auto; 
	font-size: 10px;
	font-family: 'Karla', sans-serif;
	position: fixed;
	z-index: 100;
	background-color: white;

	@include breakpoint(medium){
		width: 100vw;
		font-size: 24px;
	}

	ul {
		margin-top: 15px;
		list-style: none;

		li {
			
			display: block;
		    float: left;
		    margin: 0;
		    padding: 0; 
			
			a {
				display: block;
      			padding: 18px 27px;
				color: black;
				text-decoration: none;

				&:hover {
					color: #d98900;
					transform: scale(1.1, 1.1);
				}
			}
		}
	}	
}

